<div style="width: 600px;padding: 20px;text-align: center;">
<div>
  Our Shopping Cart program allows visitors to your on-line shopping site to collect items in a virtual shopping cart over multiple product web pages without losing the items ordered. Our cart keeps track of what the shopper has ordered with a SID (Shopper I.D). There are no cookies used, so our software will work through a firewall and with older browsers.
</div>
<div>
Shoppers may view the contents of their shopping cart at any time and may add or delete items as needed. The program automatically calculates the subtotal, sales tax, shipping charges, and grand total. When a visitor decides to checkout, the order information including the buyer's name, address and billing instruction is emailed to your order department (or whomever you choose) and a receipt is sent to the shopper.
</div>
<div>
With the addition of the Secure module, the order information will be stored in a file for later retrieval by a secure web connection. This protects the merchant from having the customer's credit card information intercepted in the administrative email receipt.
</div>
<div>
The Authorize.net and Linkpoint modules, if added, will allow real-time charging of the customer's credit. These modules never stores or send via email the customer's credit card information. The customer's credit card information can be later viewed securely on the payment gateway's server.
</div>

</div>